
.ul{
    padding-left: 100px;
    padding-right: 100px;
    font-size: 25px;
}
.jianju{
    margin-top: 70px;
}
#gdzx{
    border-bottom: 5px solid #4b5f7c;
    height: 35px;
    font-size: 22px;
    text-align: center;
    color: white
}
#gdfx{
    border-bottom: 5px solid #4b5f7c;
    height: 35px;
    font-size: 22px;
    text-align: center;
    color: white
}
#wyfx{
    border-bottom: 5px solid #4b5f7c;
    height: 35px;
    font-size: 22px;
    text-align: center;
    color: white
}
.pic{
    width: 85px;
    height: 100px;
}
.pic img{
    max-width: 100%;
    max-height: 100%;
}
footer{
    text-align: center;
}